<form>
        <mat-grid-list cols="1" rowHeight="100px" gutterSize="10px">

                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Name</mat-label>
                        <input type = "text" matInput placeholder="Enter Your Name" required>
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    </mat-form-field>
                </mat-grid-tile>
    
                <mat-grid-tile>
                    <mat-radio-group aria-label="Type of Application">
                        <mat-radio-button value="0">Old</mat-radio-button>
                        <mat-radio-button value="1">New</mat-radio-button>
                    </mat-radio-group>
                </mat-grid-tile>
                    
                <mat-grid-tile>
                    <mat-radio-group aria-label="Type of Name">
                        <mat-radio-button value="0">Wordmark</mat-radio-button>
                        <mat-radio-button value="1">Brand/Unique Name</mat-radio-button>
                    </mat-radio-group>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                            <input type="password" matInput placeholder="Enter Your Password" required>
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    </mat-form-field>
                </mat-grid-tile>
                
                <mat-grid-tile>
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input type="email" matInput placeholder="Enter Your Email" required>
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    </mat-form-field>
                </mat-grid-tile>
        </mat-grid-list>

</form>


    
    
    


