<mat-card style="margin:2em;padding-top:0;padding-left:0;padding-right:0" class="example-card">

        <mat-card-title style="background:rgba(0,0,0,.06); padding:20px 20px;">Basic Cards           <mat-icon style="padding:5px;float:right" >open_in_new
       </mat-icon>
       <mat-icon  style="padding:5px;float:right">code</mat-icon> </mat-card-title>
        <mat-card-content style="padding:1em;">
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
      
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
